@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600;1,900&display=swap');

body
{
	background: #ecf0f1;
	color:#ecf0f1;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-size: 3.3vh;
	overflow: hidden;
}
.imageBG
{
	position: absolute;
	top:0;
	right:0;
	width:1600px;
	width:85%;
	height:100%;
	overflow: hidden;
	clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
	background:linear-gradient(to bottom right, rgba(41, 128, 185,0.5), rgba(39, 174, 96,0.85)), url("https://source.unsplash.com/featured/?landscape,wallpaper");
	background-size: cover;
	background-position: center center;

	animation: fadeIn 2s 0s ease-out backwards, fadeIn 2s 28s ease-in reverse forwards;
}
.btTwitter
{
	background:linear-gradient(to bottom right, rgba(142, 68, 173,0.5), rgba(41, 128, 185,0.85)), url("https://source.unsplash.com/featured/?happy,wallpaper");
	background-size: cover;
	background-position: center center;
}
.btVGBC
{
	background:linear-gradient(to bottom right, rgba(192, 57, 43,0.5), rgba(142, 68, 173,0.85)), url(img/san-andreas-screenshot.jpg);
	background-size: cover;
	background-position: center center;
}
.btHumble
{
	background:linear-gradient(to bottom right, rgba(211, 84, 0,0.5), rgba(192, 57, 43,0.85)), url(img/my-friend-is-pedro-screenshot.jpg);
	background-size: cover;
	background-position: center center;
}
.textContainer
{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height:100%;
	width:49%;
	margin-left:46%;
	/* text-shadow: 0 1vh 1.5vh rgba(0, 0, 0, 0.5); */
}
.textName
{
	font-size: 3em;
	font-weight: 900;
	font-style: italic;

	animation: fadeInRight 1s 1s ease-out backwards, fadeOutRight 1s 27.5s ease-in forwards;
}
.textURL
{
	font-size: 1.5em;
	font-weight: 600;
	font-style: italic;
	margin-top: 1vh;
	margin-bottom:3vh;

	animation: fadeInRight 1s 1.25s ease-out backwards, fadeOutRight 1s 27.75s ease-in forwards;
}
.textDescription
{
	animation: fadeInRight 1s 1.5s ease-out backwards, fadeOutRight 1s 28s ease-in forwards;
}

@keyframes fadeIn
{
    from
	{
		filter:opacity(0);
		transform: translateX(10vh);
	}
	to
	{
		filter:opacity(1);
	}
}
@keyframes fadeInRight
{
    from
	{
		transform: translateX(-2vh);
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}
@keyframes fadeOutRight
{
    from
	{
		filter:opacity(1);
	}
	to
	{
		transform: translateX(2vh);
		filter:opacity(0);
	}
}